body {
    background-color: rgb(150, 143, 143);
    color: white;
}
* {
    font-size: 15px;
}
p {
    margin: 0;
    padding: 0;
}
h5 {
    font-size: 18px;
}
html {
    scroll-behavior: smooth;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 30px;
}
.flex__item {
    margin-top: 60px;
    width: 270px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.letter {
    position: absolute;
    top: 70px;
    opacity: 0.18;
    font-family: RobotoCondensed;
    font-size: 247.2px;
    line-height: 210px;
    font-weight: 700;
    text-transform: uppercase;
    color: #3a3939;
    margin: 0;
    padding: 0;
}

.header {
    z-index: 1000;
    background-color: rgba(128, 128, 128, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 115px;
    border-bottom: 2px rgba(128, 128, 128, 0.4) solid;
    .logo {
        position: relative;
        top: 22px;
        .sqare {
            z-index: -1;
            width: 67px;
            height: 67px;
            opacity: 0.74;
            background-color: #ffffff;
            position: relative;
            top: -60px;
            right: -12px;
        }
    }
    .nav__item {
        display: flex;
        flex-direction: row;
        .link {
            font-size: 20px;
            margin-right: 60px;
            a {
                color: white;
                &:hover {
                    &::before {
                        content: "";
                        position: absolute;
                        width: 65px;
                        height: 6px;
                        background-color: #11749e;
                        top: 110px;
                    }
                }
            }
        }
    }
    .media {
        img {
            margin-right: 15px;
        }
    }
}
.creatives {
    .container {
        justify-content: center;
    }
    background-image: url("/img/bg/bg_img1.png");
    color: white;
    h1 {
        font-size: 150px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.05em;
    }
    h2 {
        font-size: 25px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.74em;
        color: #11749e;
    }
    p {
        font-size: 13px;
        line-height: 22px;
        font-weight: 400;
    }
    .creatives__scroll {
        position: absolute;
        bottom: 100px;
    }
    button {
        border-radius: 100%;
        border-color: white;
        width: 65px;
        height: 65px;
        background-color: rgba(128, 128, 128, 0);
        background-image: url("/img/drop_down.png");
        background-position: center;
        background-repeat: no-repeat;
    }
}

.agency {
    color: white;
    background-color: #11749e;
    position: relative;
    h2 {
        font-size: 37px;
        line-height: 45px;
        font-weight: 500;
    }
    .agency__title {
        margin-top: 150px;
    }
    .feature {
        .feature__item {
            img {
                margin-bottom: 70px;
                position: relative;
                z-index: 100;
            }
        }
    }
}
.feature__item::before {
    content: "";
    border-radius: 100%;
    width: 133px;
    height: 133px;
    background-color: #2e85aa;
    position: relative;
    z-index: 1;
    top: 80px;
}
.extensions {
    .container {
        height: 100%;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .extensions__blok {
        width: 759px;
        height: 474px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img {
            width: 759px;
            height: 474px;
        }
    }
    .descripttion1 {
        background-color: #222222;
    }

    .descripttion2 {
        background-color: #f3f3f3;
        color: black;
    }
    .extensions__content {
        width: 480px;
        min-height: 260px;
    }
}
.blog {
    position: relative;
    background-color: rgb(138, 138, 138);
    color: black;
    h1 {
        font-size: 37.6px;
        line-height: 45px;
        font-weight: 500;
        text-transform: uppercase;
    }
    h2 {
        font-size: 30.1px;
        line-height: 37px;
        font-weight: 400;
    }
    .blog__title1 {
        margin-top: 150px;
        margin-bottom: 150px;
    }
    .blog__items {
        .blog__item {
            .blog__title {
                text-transform: uppercase;
                color: #11749e;
            }
            img {
                font-size: 18px;
                width: 27 0px;
                margin-bottom: 70px;
            }
        }
    }
}
.some-description {
    background-color: #11749e;
    min-height: 355px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    .some-description__item {
        width: 600px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}
.tutorial {
    background-image: url("/img/bg/bg_2.png");
    background-repeat: no-repeat;
    .container {
        min-height: 110vh;
    }
    .tutorial__items {
        margin-top: 140px;
        display: flex;
        gap: 200px;
        .tutorial__item {
            width: 500px;
            height: auto;
            &:first-child {
                width: 500px;
            }
            &:last-child {
                width: 390px;
            }
            h5 {
                margin-top: 130px;
                margin-bottom: 40px;
                font-size: 25px;
                font-weight: 500;
                text-transform: uppercase;
            }
            p {
                margin-bottom: 45px;
            }
            .tutorial__skils {
                .blue {
                    margin-bottom: 25px;
                    padding: 10px;
                    background-color: #11749e;
                }
                .bluef {
                    width: 370px;
                }
                .blues {
                    width: 400px;
                }
                .bluet {
                    width: 430px;
                }
            }
        }
    }
}
.team {
    position: relative;
    p {
        margin: 0;
    }
    background-color: rgb(229, 226, 226);
    color: black;
    .team__title {
        margin: 120px 0;
        font-size: 37px;
        font-weight: 500;
        text-transform: uppercase;
    }
    h5 {
        font-size: 37px;
        font-weight: 400;
    }
    .about {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 50px;
        background-color: #fff;
        position: relative;
        top: -35px;
        .name {
            font-size: 20px;
            font-weight: 500;
            text-transform: uppercase;
            color: #11749e;
        }
        .prof {
            font-weight: 500;
        }
    }
}
.contact {
    background-image: url("/img/bg/bg_3.png");
    .contact__title {
        margin-top: 200px;
    }
    form {
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        input {
            background-color: rgba(255, 255, 255, 0);
            color: white;
        }
        .small-input {
            display: flex;
            flex-direction: row;
            gap: 50px;
            input {
                width: 350px;
                height: 50px;
            }
        }
        .big-input {
            input {
                margin-top: 30px;
                width: 1170px;
                height: 150px;
            }
        }
        .button {
            align-self: center;
        }
        button {
            margin-top: 30px;
            width: 220px;
            height: 65px;
            background-color: #11749e;
        }
    }
}
.footer {
    text-align: center;
}
@media (max-width: 920px) {
    .header {
        display: none;
    }
}
@media (max-width: 825px) {
    .creatives h1 {
        font-size: 125px;
    }
    .creatives h2 {
        font-size: 20px;
    }
}
@media (max-width: 700px) {
    .creatives h1 {
        font-size: 100px;
    }
    .creatives h2 {
        font-size: 25px;
        letter-spacing: normal;
    }
}
@media (max-width: 550px) {
    .creatives h1 {
        font-size: 80px;
        letter-spacing: normal;
    }
    .creatives h2 {
        font-size: 20px;
    }
}
@media (max-width: 480px) {
    .creatives h1 {
        font-size: 53px;
    }
    .creatives h2 {
        font-size: 16px;
    }
}

// fix this
@media (max-width: 800px) {
    .extensions {
        display: none;
    }
}
@media (max-width: 800px) {
    .some-description {
        flex-direction: column;
    }
    .some-description .some-description__item {
        width: auto;
    }
}
@media (max-width: 1200px) {
    .contact form .small-input input {
        width: 300px;
    }
    .contact form .big-input input {
        width: 1015px;
    }
}
@media (max-width: 1150px) {
    .contact form .small-input input {
        width: 200px;
    }
    .contact form .big-input input {
        width: 715px;
    }
}
@media (max-width: 750px) {
    .contact form .small-input {
        flex-direction: column;
    }

    .contact form .small-input input {
        width: 500px;
    }
    .contact form .big-input input {
        width: 500px;
    }
}
@media (max-width: 535px) {
    .contact form .small-input {
        flex-direction: column;
    }

    .contact form .small-input input {
        width: 280px;
    }
    .contact form .big-input input {
        width: 280px;
    }
}
@media (max-width: 1300px) {
    .tutorial .tutorial__items {
        gap: 0px;
    }
}
@media (max-width: 920px) {
    .tutorial {
        display: none;
    }
}
